body {
	font-family: 'Vibur', cursive;
	font-style: bold;
	text-align: center;
	margin: auto;
	font-size: 15px;
	background-color: slategray;
}

#container {
	font-size: 15px;
	font-style: bold;
text-align: center;


}

h1 {
	margin: auto;;
	font-size: 45px;
	font-style: bold;
}

h2 {
	margin: auto;
	font-size: 25px;
	font-style: bold;

}

h3{
	margin: auto;
	font-size: 25x;
	font-style: bold;

}

h4{
	margin: auto;
	font-size: 25px;
	font-style: bold;
}

h5{
	margin: auto;
	font-size: 25px;
	font-style: bold;
}

h6{
	margin: auto;
	font-size: 25px;
	font-style: bold;
}

article{
	margin: auto;
	font-style: bold;
	font-family: 'Vibur', cursive;
	font-size: 20px;
	paddint-left: 400px;


}

p{border-style: groove; solid black;}